body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

/* HEADER */
.header {
    background:#1f2937;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* HOME PAGE */
.home-container {
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('lib.jpg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGIN BG */
.login-bg,
.signup-bg,
.forget-bg {
    min-height: calc(100vh - 140px);
    background-image: url('img3.jpg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.admin-bg {
    min-height: calc(100vh - 140px);
    background-image: url('img3.jpg.webp');
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}

/* LOGIN BOXES */
.login-boxes {
    display: flex;
    gap: 50px;
}

.login-box {
    background: white;
    padding: 25px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.logo {
    font-size: 60px;
    margin-bottom: 15px;
}

.login-box button {
    background: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.login-box button:hover {
    background: #1976D2;
}

/* FORM CONTAINER */
.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

.full-btn {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    background: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
}

.full-btn:hover {
    background: #1976D2;
}

.small-btn {
    padding: 5px 12px;
    font-size: 13px;
    margin-bottom: 10px;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a, .right a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.right {
    text-align: right;
}

.hide {
    display: none;
}

/* FOOTER */
.footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
